@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic");
body {
  background-color: #fff;
  color: #000;
  font: "Montserrat", sans-serif; }

.wp-block {
  max-width: 1140px; }

.editor-post-title__block .editor-post-title__input {
  font-family: "Montserrat", sans-serif;
  font-size: 40px; }

h2, h3, h4, p, div {
  font-family: "Montserrat", sans-serif; }

wp-block.is-selected {
  background-color: #E20613; }
